@import '../common/variables.css';

.container{
    width: 100%;
    height: 100%;

    overflow: auto;
}

#header {
    transition: left 0.2s ease-out; /* left 속성이 변경될 때 작동하는 코드, 부드러운 효과 */
}

#nav-contents-box {
    width: var(--nav-contents-width);
    height: 100%;

    border-right: 1px solid var(--shadow-color);

    position: relative;
    left: var(--nav-contents-width-minus);
    transition: left 0.2s ease-out;
}

#nav-contents-box-space {
    height: 150px;
}

#nav-contents > li{
    cursor: pointer;
    text-align: left;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 1.1rem;
    font-weight: lighter;
}

#main-wrap{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.2s ease-out;
}

#main-wrap > * {
    margin: 0 auto;
}

main {
    width: var(--main-width);
}