@import '../common/variables.css';

.container{
    width: 100vw;
    height: 100vh;

    /* 자신의 영역보다 더 큰 수치의 자식 요소가 들어올 때 부모의 영역도 같이 넓어짐 */
    overflow: auto;

    /* 컨테이너 아래 (nav-contents-box), main 가운데 정렬 */
    display: flex;
    justify-content: center;
}

#my{
    position: absolute;
    top: 5%;
    right: 10%;

    z-index: 999;
}

#nav-contents-box{
    width: var(--nav-contents-width);
    height: 100vh;
    background-color: var(--nav-container-color);

    position: absolute;
    left: var(--nav-contents-width-minus);
    transition: left 0.3s ease-out; /* left 속성이 변경될 때 작동하는 코드 */
}

#nav-contents-box > #nav-greetings{
    text-align: left;
    margin: 50px 10px;
    font-size: 3rem;
    font-weight: bold;
}

#nav-contents > li{
    cursor: pointer;
    text-align: center;
    margin: 10px 0;
    font-size: 2rem;
}

main {
    position: relative;
    width: var(--main-width);
}

.main-default{
    /* main의 left 값은 0.
    지금 main의 position은 absolute가 아니다.
    main이 가운데 정렬인 것은 부모 요소에 flex, justify-content 때문.
    여기 position: relative는 main을 기준으로 배치되는 nav, header를 위한 것. */
    height: var(--main-height);
    transition: left 0.3s ease-out;
}

.main-sign {
    display: flex;
    justify-content: center;
}

nav{
    position: absolute;
    top: 5%;
    left: -10%;
}