:root {
    --fixed-button-height: 40px;

    --pagination-a-height: 30px;

    --main-width: 1000px;
    --main-height: 1000px;
    --nav-contents-width: 300px;
    --nav-contents-width-minus: -300px;

    --my-contents-box-width: 150px;
    --my-contents-box-height: 200px;

    --signIn-frame-width: 500px;
    --signIn-frame-height: 380px;
    --signUp-frame-width: 300px;
    --signUp-frame-height: 1100px;

    --freeBoard-frame-width: 100%;
    --freeBoard-frame-height: 1000px;
    --freeBoard-header-height: 200px;
    --freeBoard-footer-height: 200px;

    --freeBoard-post-write-width: 1000px;
    --freeBoard-post-write-height: 1000px;
    --freeBoard-post-reply-width: 1000px;
    --freeBoard-post-reply-height: 1000px;
    --freeBoard-post-update-width: 1000px;
    --freeBoard-post-update-height: 1000px;
    --freeBoard-post-read-width: 1000px;
    --freeBoard-post-read-height: 1000px;
    --freeBoard-post-read-header-height: 200px;

    --freeBoard-comment-header-height: 30px;
    --freeBoard-comment-content-max-height: 200px;
    --freeBoard-comment-write-height: 200px;
    --freeBoard-comment-reply-height: 200px;
    --freeBoard-comment-update-height: 200px;

    --background-color: white;
    --nav-container-color: rgba(240, 240, 240, 0.5);
    --border-color: rgba(200, 200, 200, 0.5);
    --pagination-border-color: rgba(100, 100, 100, 0.5);
    --shadow-color: rgba(200, 200, 200, 0.5);

    --btn-width: 100px;
    --btn-height: 50px;
    --btn-fontSize: 1.1rem;

    --primary-color: #0d6efd;
    --primary-hover-color: #0062cc;
    --inactive-color: rgba(150, 150, 150, 0.5);
    --inactive-hover-color: rgba(150, 150, 150, 0.7);

    --text-ref-color: #CCCCCC;
    --thead-color: rgba(230, 230, 230, 0.5);
    --seperator-color: rgba(200, 200, 200, 0.5);

    --valid-color: green;
    --invalid-color: red;

    --input-size-text: 1.1rem;
}